<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TO DO: Login</title>
    </head>
    <body>

        <h1>TO DO</h1>
        <h2>Login</h2>
        
        <form action = '/' method = "post">
            <div>
                <label for='username'> Username: </label>
                <input type = 'text' id = 'username' placeholder="JohnSmith67" name = 'username' required minlength="4">
            </div>

            <div>
                <label for='password'> Password: </label >
                    <input type = 'password' id = 'password' placeholder="StrongPassword123!" name = 'password' required minlength="8">
                </div>

                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endwith %}

                <input type = 'submit' value = 'Login'>

                <p>Don't have an account? <a href = "/signup"> Click Here </a> </p>
                <p>Forgot Password/Login with Email <a href = "/alt_login"> Click Here</a></p>
            </form>
            
            
        </body>
        </html>